include label

style.
  :root {
    background: black;
  }

svg(height="1000", width="1000" viewbox="0 0 200 200")
  +circular-marker(45, 23, 50, 50) Eins
svg(height="1000", width="1000" viewbox="0 0 200 200")
  +circular-marker(20, 15, 50, 50) Zwei
svg(height="1000", width="1000" viewbox="0 0 200 200")
  +circular-marker(40, 45, 50, 50) Drei
svg(height="1000", width="1000" viewbox="0 0 200 200")
  +circular-marker(20, 56, 50, 50) Vier
svg(height="1000", width="1000" viewbox="0 0 200 200")
  +circular-marker(55, 67, 50, 50) Fünf